{% extends 'blog/base.html' %}

{% block title %}{{list.title}}{% endblock %}

{% block content %}



<a href="http://vk.com/share.php?url=http://127.0.0.1:8000/{{list.slug}}&title = {{list.title}}"
   target="_blank" rel="nofollow">
   поделиться вк
</a>

		<h1>{{list.title}}</h1>
		{{list.intro}}
		{% for item in items %}
			<div class = "post">
				<h2>{{item.film.title}} / {{item.film.director}} / {{item.film.year}}</h2>

				<img src = "{{item.film.image}}"> <br> <br>

				<p>{{item.text}}</p>
		    	{#<a href="{% url 'filmbase.film_detail' pk=item.film.pk %}">страница фильма</a>#}
				<a href="{% url 'filmbase:film_detail' item.film.pk %}">страница фильма</a>
		    </div>
		{% endfor %}
{% endblock %}
